<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
       bean-discovery-mode="all">
    <alternatives>
        <class>ru.mikhaylov.model.Student</class>
    </alternatives>
    <interceptors><class>ru.mikhaylov.cdi.InterceptorThree</class></interceptors>
</beans>